{% extends "kitchen/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}
  {% if object %}Update Cook{% else %}Create Cook{% endif %} - Kitchen Service
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title mb-4 text-center">
                    {% if object %}
                        👨‍🍳 Update Cook
                    {% else %}
                        👨‍🍳 Create a New Cook
                    {% endif %}
                </h2>

                <form action="" method="post" novalidate>
                    {% csrf_token %}

                    {{ form|crispy }}

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                        <a href="{% url 'kitchen:cook-list' %}" class="btn btn-outline-secondary me-md-2">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}