{% extends "kitchen/layouts/base.html" %}

{% block title %}Home - Kitchen Service{% endblock %}

{% block content %}
<div class="container" style="padding-top: 100px;">
    <div class="row text-center">
        <div class="col-12 mb-5">
            <h1 class="display-4">Welcome to the Restaurant Kitchen</h1>
            <p class="lead">System for managing dishes, ingredients, and cooks.</p>
        </div>

        <div class="col-md-3">
            <div class="card text-white bg-primary mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-white">Dishes</h5>
                    <p class="card-text display-6 text-white">{{ num_dishes }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-white">Cooks</h5>
                    <p class="card-text display-6 text-white">{{ num_cooks }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-warning mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-white">Dish Types</h5>
                    <p class="card-text display-6 text-white">{{ num_dish_types }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-info mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title text-white">Ingredients</h5>
                    <p class="card-text display-6 text-white">{{ num_ingredients }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}